<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Bitte wählen Sie den Hersteller</label>
            <select class="form-select" formControlName="manifacturer">
                <option value='' selected>Bitte auswählen</option>
                <option *ngFor="let manifacturer of manifacturers" >{{manifacturer}}</option>
            </select>
        </div>
    
        <div class="form-group col-md-6">
            <label>Bitte geben Sie das Modell an</label>
            <select class="form-select" formControlName="model">
                <option value='' selected>Bitte auswählen</option>
                <option *ngFor="let model of models">{{model}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Wie haben Sie das Fahrzeug gekauft?</label>
            <select class="form-select" formControlName="purchaseType">
                <option value="new">Als Neuwagen</option>
                <option value="old">Als Gebrauchtwagen</option>
            </select>
        </div>
    
        <div class="form-group col-md-6">
            <label>Wie viel € haben Sie für das Auto bezahlt?</label>
            <input type="number" placeholder="z.B. 20.000" formControlName="price">
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Wie haben Sie für das Fahrzeug bezahlt?</label>
            <select class="form-select" formControlName="paymentType">
                <option value='' selected>Bitte auswählen</option>
                <option value="instant">bar bezahlt/ überwiesen</option>
                <option value="credit">finanziert</option>
                <option value="leasing">geleast</option>
            </select>
        </div>
    
        <div class="form-group col-md-6">
            <label>Welches Baujahr oder welche Erstzulassung hat das Fahrzeug?</label>
            <select class="form-select" formControlName="productionYear">
                <option value='' selected>Bitte auswählen</option>
                <option *ngFor="let year of productionYears">{{year}}</option>
            </select>
        </div>
    </div>
    
    <div class="for-row">
        <div class="form-group col-md-6">
            <label>Haben Sie eine Rechtsschutzversicherung?</label>
            <select class="form-select" formControlName="hasInsurance">
                <option value='' selected>Bitte auswählen</option>
                <option value="false">nein</option>
                <option value="true">ja</option>
            </select>
        </div>
    
        <div class="form-group col-md-6">
            <label>Wann haben Sie das Auto gekauft?</label>
            <select class="form-select" formControlName="purchaseYear">
                <option value='' selected>Bitte auswählen</option>
                <option *ngFor="let year of purchaseYears">{{year}}</option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Anfrage abschicken</button>
</form>
